<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Hello AngularJS</title>

    <link rel="stylesheet" href="../vendor/bower/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../vendor/bower/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../vendor/bower/jquery/dist/jquery.js"></script>
    <script src="../vendor/bower/angular/angular.min.js"></script>
    <script src="../vendor/bower/angular-route/angular-route.min.js"></script>
    <script src="../vendor/bower/angular-resource/angular-resource.min.js"></script>
    <script src="../vendor/bower/angular-strap/dist/angular-strap.min.js"></script>
    <script src="../vendor/bower/bootstrap/dist/js/bootstrap.js"></script>

    <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->

    <script src="app.js"></script>
</head>

<body>
<div ng-controller="Product">
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Warehouse</th>
            <th>Country</th>
        </tr>
        </thead>
        <tr ng-repeat="product in products">
            <td>{{product.id}}</td>
            <!--<td>
                <li ng-repeat="item in product.expenselist">
                    {{item.text}}
                </li>
            </td>-->
            <!--<td>
                <li ng-repeat="item in product.expenselist">
                    {{item.value}}
                </li>
            </td>-->
            <td>{{product.product_name}}</td>
            <!--
                       <td>
                           <li ng-repeat="item in product.sharelist">
                               {{item.text}}
                           </li>
                       </td>
                       -->
            <td>{{product.warehouse}}</td>
            <td>{{product.country}}</td>
        </tr>
    </table>
</div>
</body>

<style>
    .header,
    .items {
        border-bottom: 1px solid #000;
        width: 600px;
    }

    .header span,
    .items span {
        display: inline-block;
        width: 120px;
        border-right: 1px solid #000;
        padding: 5px;
    }
</style>
</html>