<fieldset>

    {{booth}}
    {{reserve}}
    {{company}}
    <!-- Form Name -->
    <legend>Event Registration</legend>

    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-6">
            <input id="username" name="reserve.full_names" type="text" placeholder="Full Names" class="form-control" required="">
            <span class="help-block">Full Names</span>
        </div>
        <div class="col-md-6">
            <input id="user_email" name="reserve.email" type="email" placeholder="Email Address" class="form-control" required>
            <span class="help-block">Email Address</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <input id="company_name" name="company.company_name" type="text" placeholder="Full Names" class="form-control" required="">
            <span class="help-block">Full Names</span>
        </div>
        <div class="col-md-6">
            <input id="company_admin" name="company.company_admin" type="text" placeholder="Full Names" class="form-control" required="">
            <span class="help-block">Full Names</span>
        </div>
    </div>
    <hr/>
    <legend>Company Details</legend>
    <div class="form-group">
        <div class="col-md-4">
            <input id="company_email" name="company.email" type="text" placeholder="Full Names" class="form-control" required="">
            <span class="help-block">Full Names</span>
        </div>
        <div class="col-md-4">
            <input id="phone" name="company.phone" type="text" placeholder="Full Names" class="form-control" required="">
            <span class="help-block">Full Names</span>
        </div>
        <div class="col-md-4">
            <input id="logo" name="company.logo_path" type="text" placeholder="Full Names" class="form-control" required="">
            <span class="help-block">Full Names</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <textarea class="form-control" id="address" name="company.address"></textarea>
            <span class="help-block">Company Address</span>
        </div>
    </div>

</fieldset>