<!--
<a ui-sref="newProduct" class="btn-primary btn-lg nodecoration">Add New Movie</a>

<table class="table productTable table-bordered">
    <tr>
        <td><h3>All Products</h3></td>
        <td></td>
    </tr>

    <tr ng-repeat="event in events">
        <td>{{event.event_name}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewProduct({id:event.event_id})">View</a>
        </td>
    </tr>
</table>
-->

<a class="btn btn-primary" ui-sref="viewProduct({id:event.event_id})">View</a>

<div id="map"></div>
<div id="class" ng-repeat="marker in markers | orderBy : 'title'">
    <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
</div>

<style>
    #map {
        height: 600px;
        width: 100%;
    }
</style>