<!--<table class="table">
    <tr>
        <td><h3>Event Name{{event_view.event_name}}</h3></td>
        <td></td>
    </tr>
</table>

<h3>Available Event Booths</h3>
<table class="table">
    <tr>
        <td>Booth Name</td>
        <td>Booth Fee</td>
        <td>#</td>
    </tr>
    <tr ng-repeat="booth in event_view.event_booths" ng-show="event_view.event_booths">
        <td>{{booth.event_booth_name}}</td>
        <td>{{booth.booth_price}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewProduct({id:product.id})">View</a>
            <a class="btn btn-danger" ng-click="deleteProduct(product)">Delete</a>
        </td>
    </tr>
</table>
-->
<!--
<div ng-repeat="booth in event_view.event_booths" ng-if="$index % 3 == 0" class="row">
    <div class="flex">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Title</div>
                <div class="panel-body">
                    Content here..
                    This one is the tallest of the panels..

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet
                    vulputate.
                    Quisque mauris augue, molestie tincidunt. Auctor accumsan. Aliquam in felis sit amet augue.
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default btn-block">Button</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-4" ng-repeat-start="booth in event_view.event_booths">
        <div class="panel panel-primary">
            <div class="panel-heading">Title</div>
            <div class="panel-body">
                <img src="{{booth.booth_image}}" class="img img-responsive" />
            </div>
            <div class="panel-footer">
                <button class="btn btn-success btn-block">Reserve Booth</button>
            </div>
        </div>
    </div>
    <div class="clearfix" ng-if="($index+1)%3==0"></div>
    <div ng-repeat-end=""></div>
</div>

<!--
<div ng-repeat="booth in event_view.event_booths" ng-if="$index % 4 == 0" class="row">
    <div class="col-xs-3">{{booth.event_booth_name}}</div>
    <div class="col-xs-3">{{booth.event_booth_name}}</div>
    <div class="col-xs-3" ng-if="event_view.event_booths.length > ($index + 1)">{{booth.event_booth_name}}</div>
    <div class="col-xs-3" ng-if="event_view.event_booths.length > ($index + 2)">{{booth.event_booth_name}}</div>
</div>
-->