
<div id="map"></div>

<div class="jumbotron" ng-show="event_details">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="container" style="border-bottom:1px solid black">
                <h2>Event Name : {{event_details.event_name}}</h2>
            </div>
            <hr>
            <ul class="container details">
                <li>Event Location: {{event_details.event_location}}</li>
                <li>Event Country: {{event_details.event_country}}</li>
                <li>Event Start Date: {{event_details.event_start_date}}</li>
                <li>Event End Date: {{event_details.event_end_date}}</li>
                <li><a class="btn btn-success btn-block btn-lg" ui-sref="viewEvent({id:event_details.event_id})">Book Your Place</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<style>
    .details li {
        list-style: none;
    }

    li {
        margin-bottom: 10px;

    }

    #map {
        height: 400px;
        width: 100%;
    }
</style>