<!--<table class="table">
    <tr>
        <td><h3>Event Name{{event_view.event_name}}</h3></td>
        <td></td>
    </tr>
</table>

<h3>Available Event Booths</h3>
<table class="table">
    <tr>
        <td>Booth Name</td>
        <td>Booth Fee</td>
        <td>#</td>
    </tr>
    <tr ng-repeat="booth in event_view.event_booths" ng-show="event_view.event_booths">
        <td>{{booth.event_booth_name}}</td>
        <td>{{booth.booth_price}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewProduct({id:product.id})">View</a>
            <a class="btn btn-danger" ng-click="deleteProduct(product)">Delete</a>
        </td>
    </tr>
</table>
-->
<div class="row">
    <div class="col-md-12">
        <h1><strong>Booths for <i>{{event_view.event_name}}</i></strong></h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" ng-repeat="booth in event_view.event_booths" ng-show="event_view.event_booths">
        <div class="tile red">
            <h3 class="title">{{booth.event_booth_name}}</h3>
            <p>Hello Purple, this is a colored tile.</p>
        </div>
    </div>
</div>